@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(255, 255, 255);
  background: linear-gradient(to bottom right, rgb(17, 24, 39), rgb(88, 28, 135, 0.2), rgb(17, 24, 39));
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(31, 41, 55);
}

::-webkit-scrollbar-thumb {
  background: rgb(139, 92, 246);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(168, 85, 247);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
